@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alfa Slab One", cursive;
  height: 100vh;
  background: url('images/wallpaper5.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }

.countdown-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  color: #fff;
  z-index: 3;
}

.countdown {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.countdown-container h1 {
  font-size: 8rem;
  text-shadow: 0 0 30px #000;
}

.countdown-container h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-shadow: 0 0 30px #000;
}

.logo {
  height: 300px;
}

.green-goblin {
  position: absolute;
  height: 150px;
  animation: hover 2s ease-in-out infinite;
  -webkit-animation: hover 2s ease-in-out infinite;
  -moz-animation: hover 2s ease-in-out infinite;
  -o-animation: hover 2s ease-in-out infinite;
  top: 0px;
  right: 35%;
  z-index: 1;
}

@keyframes hover {
 0% {
   transform: translatey(0);
 }
 50% {
   transform: translateY(10px);
 }
 100% {
   transform: translateY(0);
 }
}

@-webkit-keyframes hover {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes hover {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes hover {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: url('images/wallpaper-mobile.jpg');
  }

  .green-goblin {
    right: 50px;
    top: 100px;
  }

  .countdown-section {
    margin-bottom: 10rem;
  }

  .logo {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  body {
    background-size: cover;
  }

  .green-goblin {
    right: 30px;
    top: 50px;
  }

  .countdown-section {
    margin-bottom: 7rem;
  }
  .countdown-container h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    text-shadow: 0 0 30px #000;
  }
}

@media screen and (max-width: 540px) {
  body {
    background-size: cover;
  }

  .green-goblin {
    right: 20px;
    top: 50px;
    height: 100px;
  }

  .countdown-section {
    margin-bottom: 5rem;
    width: 90%;
  }

  .countdown-container h1 {
    font-size: 3rem;
  }

  .countdown-container h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-position: center;
  }

  .green-goblin {
    right: 20px;
    top: 50px;
    height: 100px;
  }

  .countdown-section {
    margin-bottom: 5rem;
    width: 90%;
  }

  .countdown {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .countdown span {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
  }

  .countdown-container {
    margin: 1rem 1.5rem;
  }
}

@media screen and (max-width: 4110px) {
  .green-goblin {
    right: 10px;
    top: 0px;
  }
}