@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alfa Slab One", cursive;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.countdown-container h1 {
  font-size: 3rem;
}

.countdown-container h3 {
  font-weight: 100;
}
